In [1]:
import pandas as pd

In [ ]:
for chunk in pd.read_csv("Crimes2018.csv", chunksize = 10000):
     dat = chunk
     ## Do what ever operation you want 
     print(dat)

In [2]:
dat = pd.read_csv("Crimes2018.csv")

In [5]:
dat.head(10)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11646166,JC213529,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,...,8.0,44,06,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
1,11645648,JC212959,01/01/2018 08:00:00 AM,024XX N MONITOR AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,30.0,19,11,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
2,11645959,JC211511,12/20/2018 04:00:00 PM,045XX N ALBANY AVE,2820,OTHER OFFENSE,TELEPHONE THREAT,RESIDENCE,False,False,...,33.0,14,08A,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
3,11645557,JC212685,04/01/2018 12:01:00 AM,080XX S VERNON AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,6.0,44,11,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
4,11646293,JC213749,12/20/2018 03:00:00 PM,023XX N LOCKWOOD AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,APARTMENT,False,False,...,36.0,19,11,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
5,11645568,JC212803,12/18/2018 11:00:00 AM,032XX N WILTON AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,44.0,6,11,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
6,11223717,JB141803,02/04/2018 03:25:00 PM,044XX W WASHINGTON BLVD,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,28.0,26,11,NaN,NaN,2018,02/11/2018 03:57:41 PM,NaN,NaN,NaN
7,11646766,JC214025,01/01/2018 09:10:00 AM,019XX N KENMORE AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,43.0,7,11,NaN,NaN,2018,04/07/2019 04:05:59 PM,NaN,NaN,NaN
8,11243511,JB168893,02/20/2018 04:21:00 PM,005XX W ARLINGTON PL,0820,THEFT,$500 AND UNDER,RESIDENCE PORCH/HALLWAY,False,False,...,43.0,7,06,NaN,NaN,2018,03/01/2018 03:54:55 PM,NaN,NaN,NaN
9,11223707,JB141873,02/05/2018 12:00:00 AM,061XX N KENMORE AVE,2820,OTHER OFFENSE,TELEPHONE THREAT,RESIDENCE,False,False,...,48.0,77,26,NaN,NaN,2018,02/12/2018 03:49:14 PM,NaN,NaN,NaN

In [20]:
dat[['Location Description', 'FBI Code']].groupby('FBI Code').count()

          Location Description
FBI Code
01A                        589
01B                         12
02                        1973
03                        9679
04A                       6001
04B                       7735
05                       11745
06                       65284
07                        9983
08A                      14653
08B                      42160
09                         373
10                        1557
11                       17040
12                          37
13                          83
14                       27823
15                        5606
16                         728
17                        1695
18                       13579
19                         202
20                        1729
22                         268
24                        2290
26                       24830

In [7]:
dat.shape

(268719, 22)

In [8]:
dat.dtypes

ID                        int64
Case Number              object
Date                     object
Block                    object
IUCR                     object
Primary Type             object
Description              object
Location Description     object
Arrest                     bool
Domestic                   bool
Beat                      int64
District                  int64
Ward                    float64
Community Area            int64
FBI Code                 object
X Coordinate            float64
Y Coordinate            float64
Year                      int64
Updated On               object
Latitude                float64
Longitude               float64
Location                 object
dtype: object

In [ ]:
cat_cols = dat.columns[(dat.dtypes == "object").tolist()].tolist()
num_cols = dat.columns[(dat.dtypes != 'object').tolist()].tolist()

In [18]:
missing_vals = dat.isnull().sum()
missing_vals

ID                         0
Case Number                0
Date                       0
Block                      0
IUCR                       0
Primary Type               0
Description                0
Location Description    1065
Arrest                     0
Domestic                   0
Beat                       0
District                   0
Ward                       4
Community Area             0
FBI Code                   0
X Coordinate            5248
Y Coordinate            5248
Year                       0
Updated On                 0
Latitude                5248
Longitude               5248
Location                5248
dtype: int64

In [17]:
missing_vals_cols = missing_vals[missing_vals > 0].axes[0].tolist()
missing_vals_cols

['Location Description',
 'Ward',
 'X Coordinate',
 'Y Coordinate',
 'Latitude',
 'Longitude',
 'Location']

In [ ]:
dat.loc[dat['Location Description'].isnull()]

In [23]:
dat['Ward'].fillna(dat['Ward'].median(skipna = True), inplace = True)

In [24]:
dat['Location Description'].fillna("NotAvailable", inplace= True)

In [26]:
dat['Location Description'].fillna(dat['Location Description'].mode().tolist()[0], inplace= True)

In [28]:
num_missing_rows = dat.isnull().any(axis =1).sum()
num_missing_rows

5248

In [29]:
dat.dropna(axis =0, inplace = True)

In [30]:
dat.reset_index(inplace = True)

In [31]:
dat.drop(['Latitude','Longitude'],axis = 1, inplace = True)

In [32]:
dat.sort_values(["Date","IUCR"],ascending=[True, False], inplace = True)
dat.reset_index(inplace = True)

In [33]:
pattern = '|'.join(['\\(','\\)'])
pattern

'\\(|\\)'

In [ ]:
dat.describe(include = 'all')