In [ ]:
import pandas as pd

In [ ]:
for chunk in pd.read_csv("Crimes2018.csv", chunksize = 10000):
     dat = chunk
     ## Do what ever operation you want 
     print(dat)

In [2]:
dat = pd.read_csv("Crimes2018.csv")

In [3]:
dat.head(10)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11646166,JC213529,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,...,8.0,44,06,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
1,11645648,JC212959,01/01/2018 08:00:00 AM,024XX N MONITOR AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,30.0,19,11,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
2,11645959,JC211511,12/20/2018 04:00:00 PM,045XX N ALBANY AVE,2820,OTHER OFFENSE,TELEPHONE THREAT,RESIDENCE,False,False,...,33.0,14,08A,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
3,11645557,JC212685,04/01/2018 12:01:00 AM,080XX S VERNON AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,6.0,44,11,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
4,11646293,JC213749,12/20/2018 03:00:00 PM,023XX N LOCKWOOD AVE,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,APARTMENT,False,False,...,36.0,19,11,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
5,11645568,JC212803,12/18/2018 11:00:00 AM,032XX N WILTON AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,44.0,6,11,NaN,NaN,2018,04/06/2019 04:04:43 PM,NaN,NaN,NaN
6,11223717,JB141803,02/04/2018 03:25:00 PM,044XX W WASHINGTON BLVD,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,28.0,26,11,NaN,NaN,2018,02/11/2018 03:57:41 PM,NaN,NaN,NaN
7,11646766,JC214025,01/01/2018 09:10:00 AM,019XX N KENMORE AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,...,43.0,7,11,NaN,NaN,2018,04/07/2019 04:05:59 PM,NaN,NaN,NaN
8,11243511,JB168893,02/20/2018 04:21:00 PM,005XX W ARLINGTON PL,0820,THEFT,$500 AND UNDER,RESIDENCE PORCH/HALLWAY,False,False,...,43.0,7,06,NaN,NaN,2018,03/01/2018 03:54:55 PM,NaN,NaN,NaN
9,11223707,JB141873,02/05/2018 12:00:00 AM,061XX N KENMORE AVE,2820,OTHER OFFENSE,TELEPHONE THREAT,RESIDENCE,False,False,...,48.0,77,26,NaN,NaN,2018,02/12/2018 03:49:14 PM,NaN,NaN,NaN

In [5]:
dat.shape

(268719, 22)

In [6]:
dat.dtypes

ID                        int64
Case Number              object
Date                     object
Block                    object
IUCR                     object
Primary Type             object
Description              object
Location Description     object
Arrest                     bool
Domestic                   bool
Beat                      int64
District                  int64
Ward                    float64
Community Area            int64
FBI Code                 object
X Coordinate            float64
Y Coordinate            float64
Year                      int64
Updated On               object
Latitude                float64
Longitude               float64
Location                 object
dtype: object

In [8]:
cat_cols = dat.columns[(dat.dtypes == "object").tolist()].tolist()
print(cat_cols)
num_cols = dat.columns[(dat.dtypes != 'object').tolist()].tolist()
print(num_cols)

['Case Number', 'Date', 'Block', 'IUCR', 'Primary Type', 'Description', 'Location Description', 'FBI Code', 'Updated On', 'Location']
['ID', 'Arrest', 'Domestic', 'Beat', 'District', 'Ward', 'Community Area', 'X Coordinate', 'Y Coordinate', 'Year', 'Latitude', 'Longitude']

In [9]:
missing_vals = dat.isnull().sum()
missing_vals

ID                         0
Case Number                0
Date                       0
Block                      0
IUCR                       0
Primary Type               0
Description                0
Location Description    1065
Arrest                     0
Domestic                   0
Beat                       0
District                   0
Ward                       4
Community Area             0
FBI Code                   0
X Coordinate            5248
Y Coordinate            5248
Year                       0
Updated On                 0
Latitude                5248
Longitude               5248
Location                5248
dtype: int64

In [10]:
missing_vals_cols = missing_vals[missing_vals > 0].axes[0].tolist()
missing_vals_cols

['Location Description',
 'Ward',
 'X Coordinate',
 'Y Coordinate',
 'Latitude',
 'Longitude',
 'Location']

In [ ]:
dat.loc[dat['Location Description'].isnull()]

In [12]:
dat['Ward'].fillna(dat['Ward'].median(skipna = True), inplace = True)

In [13]:
dat['Location Description'].fillna("NotAvailable", inplace= True)

In [14]:
dat['Location Description'].fillna(dat['Location Description'].mode().tolist()[0], inplace= True)

In [15]:
num_missing_rows = dat.isnull().any(axis =1).sum()
num_missing_rows

5248

In [16]:
dat.dropna(axis =0, inplace = True)

In [17]:
dat.reset_index(inplace = True)

In [18]:
dat.drop(['Latitude','Longitude'],axis = 1, inplace = True)

In [19]:
dat.sort_values(["Date","IUCR"],ascending=[True, False], inplace = True)
dat.reset_index(inplace = True)

In [20]:
pattern = '|'.join(['\\(','\\)'])
pattern

'\\(|\\)'

In [21]:
dat = pd.concat([dat,dat["Location"].str.replace(pat = pattern,repl = "").str.split(",",expand = True)], axis = 1)

/tmp/ipykernel_43132/1146300579.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  dat = pd.concat([dat,dat["Location"].str.replace(pat = pattern,repl = "").str.split(",",expand = True)], axis = 1)

In [22]:
# Rename columns
dat.rename(index =str, columns = {0:'Latitude',1:'Longitude'}, inplace=True)# Convert all columns to lowercase
dat.rename(str.lower, axis = 1, inplace= True)

In [23]:
dat = pd.concat([dat,pd.get_dummies(dat["primary type"])], axis = 1)
dat.drop("primary type", axis = 1, inplace = True)
dat.rename(str.lower, axis = "columns", inplace = True)
dat.reset_index(drop=True,inplace=True)

In [24]:
pd.DataFrame(dat.groupby(["date","location description"])["theft"].sum()).reset_index()

                          date location description  theft
0       01/01/2018 01:00:00 AM            APARTMENT      1
1       01/01/2018 01:00:00 AM        BAR OR TAVERN      2
2       01/01/2018 01:00:00 AM          HOTEL/MOTEL      1
3       01/01/2018 01:00:00 AM            RESIDENCE      0
4       01/01/2018 01:00:00 AM           RESTAURANT      1
...                        ...                  ...    ...
215030  12/31/2018 12:49:00 AM               STREET      0
215031  12/31/2018 12:50:00 AM            RESIDENCE      0
215032  12/31/2018 12:52:00 PM     DEPARTMENT STORE      1
215033  12/31/2018 12:55:00 AM            RESIDENCE      0
215034  12/31/2018 12:55:00 AM           RESTAURANT      0

[215035 rows x 3 columns]

In [25]:
dat[dat["location description"].isin(["APARTMENT","STREET"]) & (dat["theft"] == 0)]

,level_0,index,id,case number,date,block,iucr,description,location description,arrest,...,other narcotic violation,other offense,prostitution,public indecency,public peace violation,robbery,sex offense,stalking,theft,weapons violation
0,1284,2226,11197528,JB107526,01/01/2018 01:00:00 AM,045XX W WASHINGTON BLVD,5002,OTHER VEHICLE OFFENSE,STREET,False,...,0,1,0,0,0,0,0,0,0,0
2,74135,75089,11193104,JB101067,01/01/2018 01:00:00 AM,037XX W 66TH PL,0910,AUTOMOBILE,STREET,False,...,0,0,0,0,0,0,0,0,0,0
3,74289,75243,11193451,JB101940,01/01/2018 01:00:00 AM,041XX N BROADWAY,0910,AUTOMOBILE,STREET,False,...,0,0,0,0,0,0,0,0,0,0
9,73844,74798,11192526,JB100452,01/01/2018 01:00:00 AM,068XX S LOOMIS BLVD,0610,FORCIBLE ENTRY,APARTMENT,False,...,0,0,0,0,0,0,0,0,0,0
10,234709,235738,11515814,JB527247,01/01/2018 01:00:00 AM,023XX S HOMAN AVE,0560,SIMPLE,APARTMENT,False,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263447,179957,180944,11551663,JB573284,12/31/2018 12:25:00 AM,083XX S ELLIS AVE,0460,SIMPLE,APARTMENT,False,...,0,0,0,0,0,0,0,0,0,0
263450,180304,181291,11552198,JB573970,12/31/2018 12:30:00 PM,070XX S PERRY AVE,1320,TO VEHICLE,STREET,False,...,0,0,0,0,0,0,0,0,0,0
263455,180246,181233,11552110,JB573726,12/31/2018 12:30:00 PM,015XX W 114TH PL,0486,DOMESTIC BATTERY SIMPLE,APARTMENT,True,...,0,0,0,0,0,0,0,0,0,0
263457,179966,180953,11551679,JB573294,12/31/2018 12:40:00 AM,054XX S HOYNE AVE,0486,DOMESTIC BATTERY SIMPLE,APARTMENT,False,...,0,0,0,0,0,0,0,0,0,0
263466,179931,180918,11551632,JB573285,12/31/2018 12:49:00 AM,079XX S STONY ISLAND AVE,0430,AGGRAVATED: OTHER DANG WEAPON,STREET,False,...,0,0,0,0,0,0,0,0,0,0

In [27]:
num_cols = [i.lower() for i in num_cols]
dat[num_cols].corr()

,id,arrest,domestic,beat,district,ward,community area,x coordinate,y coordinate,year
id,1.000000,-0.026716,0.009939,0.010967,0.011057,0.012368,-0.014305,-0.000363,0.018556,NaN
arrest,-0.026716,1.000000,-0.028458,-0.042000,-0.042101,-0.035589,0.037607,-0.019002,-0.053833,NaN
domestic,0.009939,-0.028458,1.000000,-0.054504,-0.054533,-0.088849,0.109219,0.011425,-0.120817,NaN
beat,0.010967,-0.042000,-0.054504,1.000000,0.999636,0.645290,-0.482697,-0.535944,0.618991,NaN
district,0.011057,-0.042101,-0.054533,0.999636,1.000000,0.646622,-0.483176,-0.537040,0.620370,NaN
ward,0.012368,-0.035589,-0.088849,0.645290,0.646622,1.000000,-0.529565,-0.423460,0.655718,NaN
community area,-0.014305,0.037607,0.109219,-0.482697,-0.483176,-0.529565,1.000000,0.230878,-0.771205,NaN
x coordinate,-0.000363,-0.019002,0.011425,-0.535944,-0.537040,-0.423460,0.230878,1.000000,-0.534310,NaN
y coordinate,0.018556,-0.053833,-0.120817,0.618991,0.620370,0.655718,-0.771205,-0.534310,1.000000,NaN
year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
dat['arrest'] = dat['arrest'].astype('object')

In [29]:
pivoted_dat = dat.pivot(index= "index", columns= "arrest", values="robbery").reset_index(drop = True)
pivoted_dat.fillna(-1, inplace=True)
dat = pd.concat([dat,pivoted_dat], axis=1)

In [30]:
dat.head()

,level_0,index,id,case number,date,block,iucr,description,location description,arrest,...,prostitution,public indecency,public peace violation,robbery,sex offense,stalking,theft,weapons violation,False,True
0,1284,2226,11197528,JB107526,01/01/2018 01:00:00 AM,045XX W WASHINGTON BLVD,5002,OTHER VEHICLE OFFENSE,STREET,False,...,0,0,0,0,0,0,0,0,-1.0,0.0
1,1283,2225,11197527,JB107517,01/01/2018 01:00:00 AM,029XX N LINCOLN AVE,2826,HARASSMENT BY ELECTRONIC MEANS,RESIDENCE,False,...,0,0,0,0,0,0,0,0,0.0,-1.0
2,74135,75089,11193104,JB101067,01/01/2018 01:00:00 AM,037XX W 66TH PL,0910,AUTOMOBILE,STREET,False,...,0,0,0,0,0,0,0,0,-1.0,0.0
3,74289,75243,11193451,JB101940,01/01/2018 01:00:00 AM,041XX N BROADWAY,0910,AUTOMOBILE,STREET,False,...,0,0,0,0,0,0,0,0,-1.0,0.0
4,10084,11029,11210595,JB125173,01/01/2018 01:00:00 AM,007XX W GRACE ST,0890,FROM BUILDING,APARTMENT,False,...,0,0,0,0,0,0,1,0,0.0,-1.0

In [ ]:
dat.describe(include = 'all')