KNOWLEDGE

In [15]:
# Guida all'uso della libreria ufficiale di mysql.connector
# https://dev.mysql.com/doc/connector-python/en/connector-python-example-ddl.html

IMPORTAZIONE DI LIBRERIE

In [16]:
import mysql.connector
from mysql.connector import errorcode

FUNZIONI

In [17]:
# Creazione di un database

def create_database(cursor, db_name):
    try:
        cursor.execute(
            "CREATE DATABASE {} DEFAULT CHARACTER SET 'utf8'".format(db_name))
    except mysql.connector.Error as err:
        print("Failed creating database: {}".format(err))
        exit(1)

CODICE

In [18]:
# Connettersi al database con un ciclo try
try:
    cnx = mysql.connector.connect(user='root2', password='Secondo12@',
                                host='127.0.0.1')

except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Something is wrong with your user name or password")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist")
    else:
        print(err)

In [20]:
# Creazione del cursore
cursor = cnx.cursor()

In [21]:
# creazione del database usando la funzione

db_name = "VM"

try:
    cursor.execute("USE {}".format(db_name))
except mysql.connector.Error as err:
    print("Database {} does not exists.".format(db_name))
    if err.errno == errorcode.ER_BAD_DB_ERROR:
        create_database(cursor, db_name)
        print("Database {} created successfully.".format(db_name))
        cnx.database = db_name
    else:
        print(err)
        exit(1)

Database VM does not exists.
Database VM created successfully.

In [22]:
# Creazione del dizionario delle tabelle

TABLES = {}
TABLES['grupp'] = (
    "CREATE TABLE `VM`.`grupp` ("
    "  `namn` CHAR(1) NOT NULL,"
    "  PRIMARY KEY (`namn`)"
    ") ENGINE=InnoDB"
    )

TABLES['lager'] = (
    "CREATE TABLE `VM`.`lager` ("
    "  `namn` VARCHAR(255) NOT NULL,"
    "  `grupp_namn` CHAR(1) NOT NULL,"
    "  PRIMARY KEY (`namn`, `grupp_namn`),"
    "  INDEX `fk_lager_grupp_idx` (`grupp_namn` ASC) VISIBLE,"
    "  CONSTRAINT `fk_lager_grupp`"
    "    FOREIGN KEY (`grupp_namn`)"
    "    REFERENCES `VM`.`grupp` (`namn`)"
    "    ON DELETE NO ACTION"
    "    ON UPDATE NO ACTION"
    ") ENGINE=InnoDB"
    )

TABLES['Domare'] = (
    "CREATE TABLE `VM`.`Domare` ("
    "  `namn` VARCHAR(255) NOT NULL,"
    "  `efternamn` VARCHAR(255) NOT NULL,"
    "  `land` VARCHAR(255) NOT NULL,"
    "  `id` INT NOT NULL,"
    "  PRIMARY KEY (`id`)"
    ") ENGINE=InnoDB"
    )

TABLES['Stadium'] = (
    "CREATE TABLE `VM`.`Stadium` ("
    "  `namn` VARCHAR(255) NOT NULL,"
    "  `stad` VARCHAR(255) NOT NULL,"
    "  `kapacitet` VARCHAR(255) NOT NULL,"
    "  `id` INT NOT NULL,"
    "  PRIMARY KEY (`id`)"
    ") ENGINE=InnoDB"
    )

TABLES['match'] = (
    "CREATE TABLE `VM`.`match` ("
    "  `id` INT NOT NULL,"
    "  `n_match` INT NOT NULL,"
    "  `stadium_id` INT NOT NULL,"
    "  `datum` DATE NOT NULL,"
    "  `Domare_id` INT NOT NULL,"
    "  `lager_namn` VARCHAR(255) NOT NULL,"
    "  `poang` INT(1) DEFAULT 0,"
    "  `gjorda_mål` INT DEFAULT 0,"
    "  `insläppta_mål` INT DEFAULT 0,"
    "  PRIMARY KEY (`id`, `stadium_id`, `Domare_id`, `lager_namn`),"
    "  INDEX `fk_match_stadium1_idx` (`stadium_id` ASC) VISIBLE,"
    "  INDEX `fk_match_Domare1_idx` (`Domare_id` ASC) VISIBLE,"
    "  INDEX `fk_match_lager1_idx` (`lager_namn` ASC) VISIBLE,"
    "  CONSTRAINT `fk_match_stadium1`"
    "    FOREIGN KEY (`stadium_id`)"
    "    REFERENCES `VM`.`Stadium` (`id`)"
    "    ON DELETE NO ACTION"
    "    ON UPDATE NO ACTION,"
    "  CONSTRAINT `fk_match_Domare1`"
    "    FOREIGN KEY (`Domare_id`)"
    "    REFERENCES `VM`.`Domare` (`id`)"
    "    ON DELETE NO ACTION"
    "    ON UPDATE NO ACTION,"
    "  CONSTRAINT `fk_match_lager1`"
    "    FOREIGN KEY (`lager_namn`)"
    "    REFERENCES `VM`.`lager` (`namn`)"
    "    ON DELETE NO ACTION"
    "    ON UPDATE NO ACTION"
    ") ENGINE=InnoDB"
    )

In [ ]:
# Creazione del ciclo per la creazione delle tabelle

for table_name in TABLES:
    table_description = TABLES[table_name]
    try:
        print("Creating table {}: ".format(table_name), end='')
        cursor.execute(table_description)
    except mysql.connector.Error as err:
        if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
            print("already exists.")
        else:
            print(err.msg)
    else:
        print("OK")

In [ ]:
# Chiusura del cursore
cursor.close()

In [ ]:
# chiusura della connessione
cnx.close()