In [2]:
import pandas as pd
import os

In [3]:
# come impostare il percorso del file da caricare in memoria 
# in questo caso il file è nella stessa cartella del notebook
# CURRENT_DIR = os.path.dirname(os.path.realpath(__file__)) (se non si usa jupiter)
CURRENT_DIR = os.path.abspath('')

In [ ]:
# file di misurazione delle velocità
car_file_path = CURRENT_DIR + '/05-ruined_automobile_data-1.csv'
# caricare le informazioni del file in memoria come un array numpy
df = pd.read_csv(car_file_path)
# visualizzare le prime 5 righe del file
df.head()

In [ ]:
print(df.isnull().any())

In [ ]:
print(df[df['price'].isnull()])

In [7]:
df['price'] = df['price'].fillna(-1)

In [8]:
df.tail()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
60,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
61,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
62,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
63,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
64,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0