In [5]:
from autenticazione.autenticazione import start_kaggle
start_kaggle()

In [6]:
# Secondo passo: Download del dataset
# Visualizzare la lista dei dataset
import kaggle

key_search = "dog"
datasets = kaggle.api.datasets_list(search=key_search)

In [7]:
# stampo la lista dei dataset
# la lista di dataset è una lista di dizionari, il cui valore di owner e' contenuto nella key 'ref'
for dataset in datasets:
    print(dataset['ref'])

tongpython/cat-and-dog
dansbecker/hot-dog-not-hot-dog
jessicali9530/stanford-dogs-dataset
marshuu/dog-breeds
shaunthesheep/microsoft-catsvsdogs-dataset
andrewmvd/dog-and-cat-detection
danielshanbalico/dog-emotion
whenamancodes/dog-adoption
chetankv/dogs-cats-images
dhruvildave/dogecoin-historical-data
mmoreaux/audio-cats-and-dogs
devzohaib/dog-emotions-prediction
kingburrito666/largest-dog-breed-data-set
d4rklucif3r/cat-and-dogs
arpitjain007/dog-vs-cat-fastai
mohamedchahed/dog-breeds
new-york-city/nyc-dog-names
gpiosenka/70-dog-breedsimage-data-set
kmader/dogs-of-zurich
biaiscience/dogs-vs-cats

In [24]:
# scelgo il dataset che mi interessa e lo scarico
# imposto il path in cui scaricare il dataset
# path = os.path.dirname(os.path.abspath(__file__)) + '/dataset' su juptyer notebook non funziona
# usare invece sys.path[0] + '/dataset' con la libreria sys
import sys
path = sys.path[0] + '/dataset'

# scelgo il dataset che mi interessa
dt_scelto = 'new-york-city/nyc-dog-names'

list_file = []
file_name = kaggle.api.dataset_list_files(dt_scelto).files
for i in file_name:
    if '.csv' in str(i):
        list_file.append(i)

# scarico il dataset
kaggle.api.dataset_download_files(dt_scelto, path=path, unzip=True)

In [25]:
# ispeziono il dataset
# creo un dataframe con il dataset
import pandas as pd

for i in range(len(list_file)):
    print(i, list_file[i])

choise = int(input('Scegli il file da aprire: '))
df = pd.read_csv(path + '/' + str(list_file[choise]))

0 dogNames2.csv

In [26]:
df.head()   # stampo le prime 5 righe del dataframe

  Row_Labels  Count_AnimalName
0          1                 1
1          2                 2
2      40804                 1
3      90201                 1
4      90203                 1

In [27]:
# eliminiamo le righe con valori nulli
df = df.dropna()

In [54]:
# eliminiamo le righe della prima colonna che contengono valore diverso da stringhe
# verifichiamo per ogni riga della prima colonna se il valore può essere convertito in numero
# se si, allora la riga viene eliminata
import numpy as np
for i in range(len(df)):
    try:
        df.iloc[i, 0] = float(df.iloc[i, 0])
    except:
        pass
    try:
        if type(df.iloc[i, 0]) != str:
            df.iloc[i, 0] = np.nan  
    except:
        pass

# eliminiamo le righe con valori nulli
df = df.dropna()

In [55]:
df.head()

   Row_Labels  Count_AnimalName
7       MARCH                 2
8       APRIL                51
9      AUGUST                14
10   DECEMBER                 4
11     SUNDAY                13