TUTORIAL

In [ ]:
# https://www.youtube.com/watch?v=jaKMm9njcJc&list=PL4iRawDSyRvVd1V7A45YtAGzDk6ljVPm1

In [2]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
from sqlalchemy import select
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy_utils import database_exists, create_database

from faker import Faker
import os
from random import choice
import pandas as pd

import PySimpleGUI as sg

In [ ]:
### GUIDA: https://www.tutorialspoint.com/sqlalchemy/sqlalchemy_core_creating_table.htm

## 1 - primo passo creare un engine importando le seguenti librerie:
# from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String

## 2 - caricare un motore con un database usando un qualsiasi servizio come mysql
# engine = create_engine('sqlite:///<nomedb>')

## 3 - avviare una sessione e dichiarare una classe di base Base da richiamare nella classe delle tabelle
# session = sessionmaker(bind=engine)()
# Base = declarative_base()

## 4 - Creare le tabelle con l+uso delle classi python

FUNCTIONS

In [30]:
# to show rows from db
def show_row_from_db(table):
    db = select(table)
    for row in session.scalars(db):
        print(row)

In [4]:
# to find last_id in the table
def find_last_id(table):
    stmt = select(table)
    i = 0
    for user in session.scalars(stmt):
        i += 1
    return i

In [5]:
# to insert data in a table
def insert_data_from_keyboard(table):
    
    md = table(
        id=find_last_id(table)+1, 
        namn=input('Namn: '), 
        efternamn=input('Efternamn: '),
        medlemsnummer=input('PN: '), 
        gatuadress=input('Gatuadress: '), 
        postnummer=int(input('Postnummer: ')), 
        postadress=int(input('Postadress: ')),
        ort=input('Ort: '),
        avgift=input('Avgift Y/N: ')
        )

    print(md)
    session.add_all([md])
    session.commit()

In [6]:
# To insert random data in a table
def insert_random(table, last_id, n):
    '''
    table = name of the table in the database
    last_id = the last number av id in the table
    n = number av medlem to add
    '''
    fake = Faker('sv_SE')
    first = last_id + 1 
    last = first + n

    for i in range(first, last):

        temp = fake.address().split()

        md = table(
                id=i, 
                namn=fake.first_name(), 
                efternamn=fake.last_name(), 
                medlemsnummer=fake.ssn(), 
                gatuadress=temp[0], 
                postnummer=temp[1], 
                postadress=temp[2],
                ort=temp[3],
                avgift=choice(['Y', 'N'])
                )

        print(md)
        session.add_all([md])
        session.commit()

In [7]:
# To delete data

def delete_from_db(table, id):
    
    temp = session.get(table, id)
    session.delete(temp)
    session.commit()

In [8]:
# delete database
def delete_db(db_namn):
    file_list = os.listdir('.')

    #for file in file_list:
    if db_namn in file_list:
        try:
            os.remove(db_namn)
        except OSError as e:
            print(e)
        else:
            print("File is deleted successfully")
    else:
        print("Database is not in the directory")

In [55]:
db_namn = 'ivan.db'

engine = create_engine('sqlite:///'+db_namn)
connection = engine.connect()
session = sessionmaker(bind=engine)()

Base = declarative_base()

class Medlem(Base):

    __tablename__ = "Medlem"

    id = Column(Integer, primary_key=True)
    namn = Column(String(255))
    efternamn = Column(String(255))
    medlemsnummer = Column(String(255))
    gatuadress = Column(String(255))
    postnummer = Column(Integer)
    postadress = Column(Integer)
    ort = Column(String(255))
    avgift = Column(String(1))

    def __init__(self, id, namn, efternamn, medlemsnummer, gatuadress, postnummer, postadress, ort, avgift):

        self.id = id
        self.namn = namn
        self.efternamn = efternamn
        self.medlemsnummer = medlemsnummer
        self.gatuadress = gatuadress
        self.postnummer = postnummer
        self.postadress = postadress
        self.ort = ort
        self.avgift = avgift
    
    def __repr__(self) -> str:
        return f"Medlem({self.id!r}, {self.namn!r}, {self.efternamn!r},{self.medlemsnummer!r}, {self.gatuadress!r} {self.postnummer!r} {self.ort!r}, Betalt avgift? {self.avgift!r})"

Base.metadata.create_all(engine)

In [ ]:
insert_random(Medlem, 0, 100)

In [22]:
insert_data_from_keyboard(Medlem)

Medlem(id=102, namn='ivan', efternamn='c', medlemsnummer ='2', gatuadress ='f', postnummer =2, postadress ='f', postadress ='f', avgift='Y')

In [10]:
# find the last id in the table

find_last_id(Medlem)

9

In [21]:
text = input('Vill du skapa alla medlem random? Y/n: ')

if 'Y' in text.upper():
    insert_random(Medlem, find_last_id(Medlem), 100)
else:
    while True:
        print('Mata in data i tabellen')
        insert_data_from_keyboard(Medlem)
        check = input('Vill du forssätta? Y/n: ')
        if 'Y' not in text.upper(): 
            break

Mata in data i tabellen
Medlem(id=101, namn='ivan', efternamn='cat', medlemsnummer ='86', gatuadress ='via', postnummer =2, postadress ='busto', postadress ='busto', avgift='Y')

In [11]:


stmt = select(Medlem).where(Medlem.namn.in_(['e']))
print(session.scalars(stmt))
for user in session.scalars(stmt):
    if user != None:
        print(user)
    else:
        print('vuoto')
    #session.delete(user)
    #session.commit()

<sqlalchemy.engine.result.ScalarResult object at 0x7f55de897040>
Medlem(5, 'e', 'r','2', 'r' 2 'r', Betalt avgift? 'Y')
Medlem(6, 'e', 'r','8', 't' 6 't', Betalt avgift? 'N')
Medlem(7, 'e', 'r','8', 't' 6 't', Betalt avgift? 'N')
Medlem(8, 'e', 'r','8', 't' 6 't', Betalt avgift? 'N')
Medlem(9, 'e', 'r','8', 't' 6 't', Betalt avgift? 'N')
Medlem(11, 'e', 'e','5', 'r' 6 'e', Betalt avgift? 'Y')

In [8]:
db_namn = 'ivan.db'
delete_db(db_namn)

File is deleted successfully

In [56]:
delete_from_db(Medlem, find_last_id(Medlem))

In [31]:
show_row_from_db(Medlem)

Medlem(1, 'w', 'w','3', 'w' 3 'w', Betalt avgift? 'Y')
Medlem(5, 'e', 'r','2', 'r' 2 'r', Betalt avgift? 'Y')
Medlem(6, 'e', 'r','8', 't' 6 't', Betalt avgift? 'N')
Medlem(7, 'e', 'r','8', 't' 6 't', Betalt avgift? 'N')
Medlem(8, 'e', 'r','8', 't' 6 't', Betalt avgift? 'N')
Medlem(9, 'e', 'r','8', 't' 6 't', Betalt avgift? 'N')
Medlem(11, 'e', 'e','5', 'r' 6 'e', Betalt avgift? 'Y')
Medlem(14, 'R', 'R','2', 'R' 2 'R', Betalt avgift? 'y')
Medlem(15, 'E', 'E','2', 'E' 2 'R', Betalt avgift? 'n')

In [21]:
query = select([Medlem])
connection = engine.connect()
ResultProxy = connection.execute(query)
ResultSet = ResultProxy.fetchall()
print(ResultSet)
if ResultSet != []:
    df = pd.DataFrame(ResultSet)
    df.columns = ResultSet[0].keys()
    print(df)
else:
    print('Tomt')

[(1, 'w', 'w', '3', 'w', 3, 3, 'w', 'Y'), (5, 'e', 'r', '2', 'r', 2, 2, 'r', 'Y'), (6, 'e', 'r', '8', 't', 6, 5, 't', 'N'), (7, 'e', 'r', '8', 't', 6, 5, 't', 'N'), (8, 'e', 'r', '8', 't', 6, 5, 't', 'N'), (9, 'e', 'r', '8', 't', 6, 5, 't', 'N'), (11, 'e', 'e', '5', 'r', 6, 6, 'e', 'Y'), (14, 'R', 'R', '2', 'R', 2, 2, 'R', 'y'), (15, 'E', 'E', '2', 'E', 2, 2, 'R', 'n')]
   id namn efternamn medlemsnummer gatuadress  postnummer  postadress ort  \
0   1    w         w             3          w           3           3   w
1   5    e         r             2          r           2           2   r
2   6    e         r             8          t           6           5   t
3   7    e         r             8          t           6           5   t
4   8    e         r             8          t           6           5   t
5   9    e         r             8          t           6           5   t
6  11    e         e             5          r           6           6   e
7  14    R         R             2          R           2           2   R
8  15    E         E             2          E           2           2   R

  avgift
0      Y
1      Y
2      N
3      N
4      N
5      N
6      Y
7      y
8      n

In [50]:
# Window´s functions

# Clear
def clear(window):
    window['-NN-'].update('')
    window['-EFNN-'].update('')
    window['-MEDN-'].update('')
    window['-GA-'].update('')
    window['-POSTN-'].update('')
    window['-POSTA-'].update('')
    window['-ORT-'].update('')
    window['-AVG-'].update('')
    #window['-OUTPUT-'].update('')

# Send
def send_data_to_database(table, values):
        md = table(
            id=find_last_id(table)+1, 
            namn=values['-NN-'], 
            efternamn=values['-EFNN-'],
            medlemsnummer=values['-MEDN-'], 
            gatuadress=values['-GA-'], 
            postnummer=int(values['-POSTN-']), 
            postadress=int(values['-POSTA-']),
            ort=values['-ORT-'],
            avgift=values['-AVG-']
            )

        print(md)
        print(values)
        session.add_all([md])
        session.commit()

In [53]:
# finestra con inserimento di informazioni
def insert_data_from_interface(table):
    sg.theme('Topanga')      # Add some color to the window

    # Very basic window.  Return values using auto numbered keys

    layout = [
        [sg.Text('Please enter data into the table')],        
        [sg.Text('Namn', size=(15, 1)), sg.InputText(key='-NN-')],            
        [sg.Text('Efternamn', size=(15, 1)), sg.InputText(key='-EFNN-')],         
        [sg.Text('Medlemsnummer', size=(15, 1)), sg.InputText(key='-MEDN-')], 
        [sg.Text('Gatuadress', size=(15, 1)), sg.InputText(key='-GA-')],
        [sg.Text('Postnummer', size=(15, 1)), sg.InputText(key='-POSTN-')],
        [sg.Text('Postadress', size=(15, 1)), sg.InputText(key='-POSTA-')],
        [sg.Text('Ort', size=(15, 1)), sg.InputText(key='-ORT-')],  
        [sg.Text('Avgift Y/N', size=(15, 1)), sg.InputText(key='-AVG-')],  
        #[sg.In(key='-IN-')], 
        #[sg.Output(size=(50,10), key='-OUTPUT-')],
        [sg.Button('Save and exit'), sg.Cancel(), sg.Button('Save and continue'), sg.Button('Clear'), sg.Button('Random')]                                  
    ]

    window = sg.Window('Simple data entry window', layout)
    while True:

        event, values = window.read()
        
        if event == 'Cancel' or event == sg.WIN_CLOSED: 
            print('You have not insert data into the table')
            break
        elif event == 'Clear':
            clear(window)

        elif event == 'Save and continue':
            try:
                send_data_to_database(table, values)
                clear(window)
            except:
                print('Error')
        elif event == 'Random':
            try:
                insert_random(table, find_last_id(table), 10)
                
            except:
                print('Error')
        else:
            try:
                send_data_to_database(table, values)
                break
            except:
                print('Error')
        


    window.close()

In [16]:
# To delete roe into the table
def delete_from_db_with_interface(table):
    sg.theme('Topanga')
    layout = [
        [sg.Text('Please enter id')],        
        [sg.Text('id', size=(15, 1)), sg.InputText(key='-ID-')],
        [sg.Button('Ok'), sg.Cancel(), sg.Button('Last Row'), sg.Button('Clear')]                                  
    ]

    window = sg.Window('Delete row from database with id', layout)
    while True:

        event, values = window.read()
        if event == 'Cancel' or event == sg.WIN_CLOSED: 
            break
        elif event == 'Last Row':
            delete_from_db(table, find_last_id(table))
            break
        elif event == 'Ok':
            delete_from_db(table, values['-ID-'])
            break
        elif event == 'Clear':
            window['-ID-'].update('')
        

    window.close()

In [56]:
insert_data_from_interface(Medlem)

Medlem(1, 'Ulla', 'Larsson','850308-7267', 'Gengatan' '26' 'Eskilstuna', Betalt avgift? 'N')
Medlem(2, 'Gudrun', 'Åström','700325-4369', 'Kyrkgatan' '9' 'Eskilstuna', Betalt avgift? 'Y')
Medlem(3, 'Lennart', 'Johansson','800126-2248', 'Fabriksgränd' '3' 'Östersund', Betalt avgift? 'Y')
Medlem(4, 'Gösta', 'Johansson','651024-5241', 'Trädgårdsvägen' '4' 'Uddevalla', Betalt avgift? 'N')
Medlem(5, 'Joakim', 'Johnsson','620105-4076', 'Aspvägen' '582' 'Helsingborg', Betalt avgift? 'N')
Medlem(6, 'Pia', 'Olsson','690107-4655', 'Villatorget' '50' 'Örebro', Betalt avgift? 'N')
Medlem(7, 'Inger', 'Jonsson','551101-6866', 'Industrivägen' '5' 'Lund', Betalt avgift? 'Y')
Medlem(8, 'Gustav', 'Johansson','941011-2560', 'Nygatan' '9' 'Landskrona', Betalt avgift? 'N')
Medlem(9, 'Sven', 'Björk','750420-8948', 'Idrottsgatan' '0' 'Eskilstuna', Betalt avgift? 'N')
Medlem(10, 'Louise', 'Jakobsson','590411-0144', 'Ängsgränd' '725' 'Piteå', Betalt avgift? 'Y')
Medlem(11, 'Max', 'Johansson','770426-3958', 'Grangränd' '35' 'Luleå', Betalt avgift? 'Y')
Medlem(12, 'Sigrid', 'Jönsson','921012-4294', 'Nygatan' '11' 'Göteborg', Betalt avgift? 'N')
Medlem(13, 'Tommy', 'Gustafsson','401226-7003', 'Parkgränd' '21' 'Nyköping', Betalt avgift? 'N')
Medlem(14, 'Thomas', 'Olsson','930131-6569', 'Granvägen' '30' 'Lidingö', Betalt avgift? 'N')
Medlem(15, 'Kerstin', 'Martinsson','761218-7703', 'Parktorget' '057' 'Halmstad', Betalt avgift? 'N')
Medlem(16, 'Elisabeth', 'Eriksson','590620-8532', 'Kyrkogränd' '36' 'Sundsvall', Betalt avgift? 'N')
Medlem(17, 'Alf', 'Andersson','960914-9092', 'Trädgårdsgränd' '639' 'Varberg', Betalt avgift? 'N')
Medlem(18, 'Göran', 'Lindqvist','760605-9983', 'Kyrkgränd' '894' 'Mölndal', Betalt avgift? 'Y')
Medlem(19, 'Åsa', 'Svensson','510213-1454', 'Skolvägen' '170' 'Örnsköldsvik', Betalt avgift? 'Y')
Medlem(20, 'Sten', 'Persson','960919-7091', 'Grangränd' '01' 'Lidingö', Betalt avgift? 'N')
You have not insert data into the table

In [65]:
delete_from_db_with_interface(Medlem)

In [49]:

def query_in_db(table, sql_query):

layout = [
    [sg.Text("Query: "), sg.Input(key='-QUERY-')],
    [sg.Ok(), sg.Button('Show')],
    [sg.Text("", key='OUTPUT')]
]

window = sg.Window("Just a window", layout)

while True:
    event, values = window.read()
    if event == sg.WINDOW_CLOSED:
        break
    elif event == 'Ok':
        name = values['-QUERY-']
        temp = query_in_db(Medlem, name)
        window['OUTPUT'].update(value=temp)
    elif event == 'Show':
        name = show_all(Medlem)
        window['OUTPUT'].update(value=name)

window.close()

In [41]:
list = ['a', 'b', 'c']
c = ''
for b in list:
    c = c + b + '\n'
    

print(c)

a
b
c